<!DOCTYPE html>
<!--
    Interphase by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Interphase by TEMPLATED</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <!--[if lte IE 8]><script src="{{ paths.theme }}css/ie/html5shiv.js"></script><![endif]-->
        <script>
            var paths = {
                theme : '{{ paths.theme }}'
            };
        </script>
        <script src="{{ paths.theme }}js/jquery.min.js"></script>
        <script src="{{ paths.theme }}js/skel.min.js"></script>
        <script src="{{ paths.theme }}js/skel-layers.min.js"></script>
        <script src="{{ paths.theme }}js/init.js"></script>
        <noscript>
            <link rel="stylesheet" href="{{ paths.theme }}css/skel.css" />
            <link rel="stylesheet" href="{{ paths.theme }}css/style.css" />
            <link rel="stylesheet" href="{{ paths.theme }}css/style-xlarge.css" />
        </noscript>
        <!--[if lte IE 8]><link rel="stylesheet" href="{{ paths.theme }}css/ie/v8.css" /><![endif]-->

    </head>
    <body class="{% block bodyClass %}{% endblock %}">

        <!-- Header -->
            <header id="header">
                <h1><a href="/">Interphase</a></h1>
                <nav id="nav">
                    <ul>
                        {{ menu('main', '_menu.twig') }}
                    </ul>
                </nav>
            </header>

        {% block content %}

            Content goes here

        {% endblock content %}

        {% include '_footer.twig' %}

    </body>
</html>